.container {
    display: flex;
    padding: 10px;
    background-color: #808D7C;
    justify-content: space-between;
}

.container ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}